<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
     <textarea class="form-control" rows="3"> <%= message.body %></textarea>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
 <div class="form-group">
    <label for="message_name" class="col-sm-2 control-label">名前</label>
    <div class="col-sm-6">
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-sm-4"></div>
  </div>
<div class="form-group">
  内容:
 <textarea type="text" name="message[body]" id="message_body" class="form-control" rows="3"></textarea>
  <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
<% end %>